* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 213, 140);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
  background-color: rgb(200, 140, 35);
  color: black;
  text-align: center;
  padding: 20px;
  vertical-align: middle;
}
.logo{
  display: inline;
  vertical-align: middle;
}
h1{
  display: inline;
  vertical-align: middle;
  padding-left: 15px;
  font-size: 60px;
  color: rgba(255,255,255,1);
  text-align: center;
  text-shadow: 0 0 10px rgb(41,57,73) , 0 0 20px rgb(41,57,73) , 0 0 30px rgb(41,57,73) , 0 0 40px rgb(41,57,73) , 0 0 70px rgba(255,255,255,1) , 0 0 80px rgba(255,255,255,1) , 0 0 100px rgba(255,255,255,1);
}
.container{
  margin: 0 auto;
}
.equipo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.personal{
  background-color: rgb(41,57,73);
  text-align: center;
  width: 460px;
  height: 480px;
  padding: 30px;
  margin: 1em;
  border-radius: 30%;
  transition: transform .3s; 
}
.persona{
  background-color: rgb(41,57,73);
  text-align: center;
  width: 330px;
  height: 450px;
  padding: 30px;
  margin: 1.5em;
  border-radius: 30%;
  transition: transform .3s; 
}
figure{
  overflow: hidden;
  margin-bottom: 1em;
}
.img{
  border-radius: 20%;
  border: double 14px rgb(200, 140, 35);
}
.persona:hover{
  transform: scale(1.2);
}
.personal:hover{
  transform: scale(1.1);
}